<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="./inc/settings.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div class="flex flex-col min-h-[100dvh] bg-gradient-to-b from-gray-950 to-gray-950 text-white">
  <header class="bg-electric-violet px-4 lg:px-6 h-14 flex items-center justify-center bg-gray-800">
    <a class="flex items-center justify-center" href="#">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="h-6 w-6"
      >
        <path d="m8 3 4 8 5-5 5 15H2L8 3z"></path>
      </svg>
      <span class="sr-only">Checkout</span>
    </a>
  </header>
  <main class="flex-1 bg-gradient-to-b from-gray-800 to-gray-950 flex items-center justify-center">
    <section class="w-full max-w-md space-y-10 px-4 md:px-6 flex flex-col items-center">
      <div class="space-y-2 text-center">
        <h1 class="text-3xl font-bold tracking-tighter sm:text-5xl">Aguardando Ativação</h1>
        <p class="text-gray-400 md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed">
          Seus dados estão sendo analisados para aprovação de cadastro.
        </p>
      </div>
      <div class="flex flex-col items-center justify-center space-y-4">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="h-16 w-16 text-gray-400"
        >
          <circle cx="12" cy="12" r="10"></circle>
          <polyline points="12 6 12 12 16 14"></polyline>
        </svg>
        <p class="text-gray-400 md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed text-center">
          Aguarde enquanto analisamos suas informações.
        </p>
        <div class="w-full ">
          <a href="./"
            class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 h-10 px-4 py-2 w-full"
            color="purple"
          >
            Voltar para a página inicial
        </a>
        </div>
      </div>
    </section>
  </main>
</div>
<script src="inc/settings.js"></script>
</body>
</html>
